body{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
}
.location{
    color:royalblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.position{
    color:dodgerblue;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.title{
    color:navy;
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.contactinfo{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10pt;
    text-align: center;
}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    text-align: center;
    color: white;
}
h3{
    color: dodgerblue;
    font-size: 16pt;
}
.lie:hover{
    color: red;
}
.reveal{
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-style: italic;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    color: navy;
}
.wake{
    display: block;
    margin: 0 auto 0 0;
    width: 400px;
    height:auto
}
.wakeb{
    display: block;
    width: 400px;
    height:auto;
}
video{
    display: block;
    width: 400px;
    height:auto 
}